{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="section">
    <h2>Quienes somos</h2>
    <p>Somos una clinica con años de experiencia, con un equipo profesional muy amplio pudiendo abarcar con un gran campo del área de la salud.</p>
    <p>Contamos con especialistas de talla nacional reconocidos por su increible trabajo y su basta experiencia.</p>
    <p>Contactanos a nuestor número telefonico: +56912345678</p>
    <p>Contactanos a nuestro correo: clinicasalud@udec.cl </p>
</section>
{% endblock %}
